@media screen and (min-width: 850px) {
	.header-inner, .about-inner, .portfolio-inner {
		width: 850px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 849px) {
	.header-inner, .about-inner, .portfolio-inner {
		padding-right: 2%;
		padding-left: 2%;
	}
  .about-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 610px) {
  div div ul a {
    color: #3f3f3f;
  }
  div ul {
    background-color: #f3f3f3;
    display: block;
    height: 0;
    list-style-type: none;
    opacity: 0;
    text-align: center;
    transition: all 1s ease;
    width: 100%;
    visibility: hidden;
  }
  div li {
    border-bottom: 2px solid #00c7cc;
    color: #3f3f3f;
    display: block;
    font-size: 1.5em;
    padding: 2em 0;
  }
  div #menu-toggle:checked ~ ul {
    opacity: 1;
    height: 100vh;
    visibility: visible;
  }
  div .label-toggle {
    background: linear-gradient(to bottom, #3f3f3f 0%, #3f3f3f 20%, transparent 20%, transparent 40%, #3f3f3f 40%, #3f3f3f 60%, transparent 60%, transparent 80%, #3f3f3f 80%, #3f3f3f 100%);
    cursor: pointer;
    display: block;
    float: right;
    height: 35px;
    margin-top: 1em;
    width: 35px;
  }
  div .header-inner {
    display: block;
  }

  about-inner {

  }
}