{% extends "base.html" %}

{% block content%}

  <h1>ascii art</h1>

  <form method="post">
    <label>
      <div>title</div>
      <input type="text" name="title" value="{{title}}">
    </label>

    <label>
      <div>art</div>
      <textarea name="art" rows="10" cols="50">{{art}}</textarea>
    </label>

    <div class="error">{{error}}</div>

    <input type="submit">
  </form>

  <hr>
  {% for art in arts%}
    <div class="art">
      <div class="art-title">{{art.title}}</div>
      <!-- <pre> preserves the whitespace and stays that way -->
      <pre class="art-body">{{art.art}}</pre>
    </div>
    <hr>
  {% endfor %}

{% endblock %}
