<!DOCTYPE html>
<html>
	<head>
		<title>My Template</title>
		<style type="text/css">

			body {
				font-family: sans-serif;
				width: 800px;
				margin: 0 auto;
				padding: 10px;
			}

			.error{
				color: red;
			}

			label{
				display: block;
				font-size: 20px;
			}

			input{type=submit}{
				font-size: 24px;
			}

			hr{
				margin: 20px auto;
			}

			.art + .art{
				margin-top: 20px;
			}

			.art-title{
				font-weight: bold;
				font-size: 20px;
			}

			.art-body{
				margin: 0;
				font-size: 17px;
			}

		</style>
	</head>
	<body>
		<h1 style="background-color: #ddd; color: #888; margin: 0; height: 50px">The Templates</h1>
		{% block content%}
		{% endblock%}
	</body>
</html>
